


.full {
    background: url('/assets/let.jpeg')  center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    
    
  
}

.alert-info {
    color: white;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    font-size: 1.2em;

}

.navbar {
   background-color:#222124;
   border-bottom: 5px solid rgba(0, 0, 0, 0.5);;
   margin: 0px;
   padding: 0px;
   height: 100px;
  
   }

.navbar li { color: #000 } 

p{
    font-size: 1.1em;
}

.padding-top{
    padding-top: 20px;
}