
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
              <div *ngIf="identity" class="head-page">
        <h1>{{title}}</h1>

        <a *ngIf="identity && identity.role == 'ROLE_ADMIN' " class="btn btn-default" [routerLink]=" ['/create-artist'] " >
            Add Artist
        </a>

      <ul class="pagination pull-right">
        <li><a [routerLink]=" ['/artists',prev_page] ">&laquo;</a></li>
        <li><a [routerLink]=" ['/artists',next_page] ">&raquo;</a></li>
      </ul>
      <div class="clearfix"></div>
        <ul *ngIf="identity" class="none">
          <li *ngFor="let artist of artists" class="col-lg-3 col-md-4 col-sm-6 col-xs-11" >

    <div class="post-module">
      <div class="thumbnail">
        <div>
        </div><img class="img-responsive" src="{{url+'get-image-artist/'+artist.image}}"/>
      </div>
      <div class="post-content">
        <h1 class="title" >{{artist.name}}</h1>
        <a class="description"[routerLink]=" ['/artist-information',artist._id] " >Biography</a>
        <a class="description" href="#">Albums</a>
        <a class="description" href="#">Songs</a>
          <div  *ngIf="identity.role == 'ROLE_ADMIN'" class="right">
              <a class="admin-button" [routerLink]=" ['/edit-artist',artist._id] ">Edit</a> ||
              <a class="admin-button pointer" (click)="onDeleteConfirm(artist._id)" >Delete</a>
          </div>
          <div class="secure" *ngIf="confirmation == artist._id">
            <a class=" pointer admin-button" (click)="onDeleteArtist(artist._id)" >Delete</a>    
            <a class="admin-button pointer" (click)="onCancelArtist()">Cancel</a>
          </div>  
        </div>
  

    </div>
 
            
            


          </li>
        </ul>
      </div>   
      </div>      
    </div>
   
  </div>
</div>
